name: Publish Website to CPanel
on:
  push:
    branches:
      - main
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.1.0
        with:
          # Mantenemos fetch-depth: 0 o 2, ya que la línea de abajo lo corrige
          fetch-depth: 0
      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@3.1.1
        with:
          ftp-server: ${{ secrets.FTP_SERVER }}
          ftp-username: ${{ secrets.FTP_USERNAME }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
          # SOLUCIÓN: Desactiva el uso de Git para detectar cambios, forzando la carga completa
          git-ftp-args: "--no-commit"
          # Opcional: Si necesitas subir un subdirectorio, añade esto:
          # local-dir: "dist/"
